<a href="https://colab.research.google.com/github/wkdwldud/23python3rd/blob/main/firstcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 나의 생에 첫번째 코드

In [ ]:
print("hello world!")
print("hello world!")  # "hello world!"를 출력하는 print 함수입니다.

hello world!

위 코드는 print() 함수를 사용하여 "hello world!"를 출력합니다.

print() 함수는 괄호 안에 있는 값을 화면에 출력하는 함수입니다. 주어진 코드에서는 "hello world!"를 출력하게 됩니다.

따라서, 위 코드는 "hello world!"를 출력하는 코드입니다. 실행 결과로는 "hello world!"가 출력됩니다.

2. 두번째 코딩

In [ ]:
print(5+5, 6-2, 4*5, 6/2 )
print(5+5, 6-2, 4*5, 6/2)

10 4 20 3.0

위 코드는 print() 함수를 사용하여 다양한 수식을 계산하고 결과를 출력합니다.

print() 함수는 괄호 안에 있는 값을 화면에 출력하는 함수입니다. 주어진 코드에서는 괄호 안에 4개의 수식이 있습니다.

5+5는 5와 5를 더한 결과인 10을 계산합니다.
6-2는 6에서 2를 뺀 결과인 4를 계산합니다.
4*5는 4와 5를 곱한 결과인 20을 계산합니다.
6/2는 6을 2로 나눈 결과인 3을 계산합니다.
따라서, 위 코드는 10, 4, 20, 3을 출력하는 코드입니다. 실행 결과로는 각 수식의 계산 결과가 공백으로 구분되어 출력됩니다.